# <h1>Posts#show</h1>
# <p>Find me in app/views/posts/show.html.erb</p>
<p style="color: green"><%= notice %></p>

 <p><%= "From #{@post.user.name}:" %>
    <%= @post.title %>
  </p><p>
    <%= @post.content %>
  </p>


<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to the forum", @post.forum %>
  <%= render @forum.posts.order(updated_at: :desc) %>
  <%= link_to "Create a new post", new_forum_post_path(@forum) %>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>